*{
  margin: 0;
  padding: 0;
}
.imgOffers{
  width: 14em;
  margin-top: 1em;
}
.priceOffers{
  margin-left: 2em;
  font-size: 1.5em;
}
.imgBorder{
  border: 1px solid black;
  position: relative;
  right: 0.50em;
}
.imgRight{
  position: relative;
  left: 2.5em;
}
.offert{
  position: relative;
  left: 1em;
}
hr{
  width: 65em;
}
.imgBorderTwo{
  border: 1px solid black;
  position: relative;
  right: 0.50em;
  background: #D8D8D8;
}
#advertising{
  margin-top: 3.5em;
}
.imgAdvertising{
  width: 20em;
}
.imgAdvertising2{
  width: 45em;
}
a{
  text-decoration: none;
  color: white;
}
.backToTop{
  margin-top: 2em;
  background-color: #57717C;
  padding: 1em;
}
.container-footer{
  background-color: #37454B;
}
.container-footer a{
  list-style: none;
  color: white;
}
.container-footer a:first-child{
  font-size: 1.5em;
}
.firstLi{
  margin-top: 2em;
}
.fa-facebook-f, .fa-twitter, .fa-google-plus-g{
  color: white;
}
.fa-facebook-f{
  position: relative;
  left: 4.5em;
}
.fa-google-plus-g{
  position: relative;
  right: 4.5em;
}
.cards{
  background-color: white;
  margin-top: 3em;
  width: 16.5em;
}
.imgPaypal, .imgVisa, .imgMastercard{
  width: 4.5em;
}
.termsConditions{
  color: white;
  margin-top: 2em;
}